.navbar {
  font-family: "Spectral SC", serif;
  font-weight: 600;
  font-size: 1.2rem;
}

#homeSpan {
  color: rgb(184, 42, 7);
}

.navbar li:hover {
  border-bottom: 2px solid black;
  font-size: larger;
}

h1,
h2 {
  font-family: "Spectral SC", serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.searchContainerBorder {
  border-bottom: 2px solid black;
  height: 100%;
}

.SearchAdmin {
  height: 30vh;
  padding: 2rem 0;
  margin-top: 1.5rem;
}

/* Footer */
footer {
  padding: 1rem;
}

footer .container {
  padding: 0;
}

footer .row > div {
  margin-bottom: 1rem;
}

footer .col-md-4 {
  text-align: center;
}

@media (max-width: 767.98px) {
  footer .col-md-4 {
    margin-bottom: 1rem;
  }
}
